<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwd.dao.FileDao">

    <!--    File getByIdAndUserId(@Param("id")Integer id,@Param("userId")Integer userId);-->
    <select id="getByIdAndUserId" resultType="File">
        select * from file where id = #{id} and user_id = #{userId}
    </select>

</mapper>