<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwd.dao.OrderInfoDao">

    <!--    void updateHasPay(Integer id);-->
    <update id="updateHasPay">
        update order_info set has_pay = true where id = #{id}
    </update>
    <update id="updateHasAccomplish">
          update order_info set accomplish = true where id = #{id}
    </update>
    <update id="updateHasReceipt">
         update order_info set has_receipt = true where id = #{id}
    </update>

</mapper>